@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.headerContainer {
  width: 95%;
  margin: 0 auto;
}

.header {
  padding: 2rem 0 0;
  margin-left: 1rem;
}

.header .siteLogo .logo {
  width: 7rem;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  min-height: 40rem;
}

.loginArea {
  background-color: #fff;
  box-shadow: 0 0.4rem 0.9rem #ccc;
  padding: 2.5rem 1.8rem;
  border-radius: 0.6rem;
  width: 25%;
}

.titleArea {
  margin-bottom: 1.25rem;
}

.title {
  font-weight: 700;
  font-size: 1.9em;
  color: #333;
}

.description {
  color: #000000c4;
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
}

.field {
  position: relative;
}

.field span {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  color: #0467c3;
  font-weight: 600;
  font-size: 0.9em;
}

.field input {
  width: 100%;
  padding: 1.1rem 0.75rem;
  font-size: 1.1em;
  border: 1px solid #999;
  border-radius: 0.3rem;
}

.field input:focus {
  outline: none;
}

.link a {
  text-decoration: none;
  color: #0467c3;
  font-weight: 600;
}

.agreement {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.agreement a {
  color: #0467c3;
  font-weight: 550;
}
.button input {
  width: 100%;
  padding: 1.12rem 0.75rem;
  background-color: #0467c3;
  color: #fff;
  font-size: 1.1em;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.button button {
  margin-top: 1em;
  width: 100%;
  padding: 1rem 0.75rem;
  background-color: #0467c3;
  color: #fff;
  font-size: 1.1em;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.or {
  position: relative;
  text-align: center;
  margin: 1.25rem 0;
  color: #666;
}

.or::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 9rem;
  height: 1px;
  background-color: #666;
}

.or::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 9rem;
  height: 1px;
  background-color: #666;
}

.buttonLink {
  width: 100%;
  text-align: center;
  border: 2px solid #999;
  padding: 0.5rem 0.75rem;
  border-radius: 3.1rem;
  margin-bottom: 0.5em;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appleIcon {
  font-size: 1.7em;
}

.buttonLink span {
  padding: 0.3em;
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: 550;
  color: #4b4b4b;
}

.buttonLink img {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  vertical-align: middle;
}

.buttonLink:hover {
  background-color: #f0f0f0;
  border-color: #888;
}

.button :hover {
  background-color: #02417c;
}

.joinNow .link {
  color: #333;
  font-weight: 500;
}

.joinNow .link a {
  text-decoration: none;
  color: #0467c3;
  font-weight: 600;
  margin-left: 0.43rem;
}

footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

footer ul li {
  float: left;
}

footer ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 0.8em;
  margin: 1rem 0.25rem;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
