/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Navbar */
header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.mainNav {
  width: 77%;
  display: flex;
  justify-content: space-between;
}

.logoNav {
  width: 130px;
}

.logoNav img {
  width: 100%;
}

.navBar {
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  width: 70%;
}

.navLinks ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks li {
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
}

.navLinks li:hover i {
  color: black;
}

.navLinks li:hover span {
  color: black;
}

.navLinks li span {
  color: #00000099;
  font-size: 12px;
}

.navLinks li i {
  font-size: 20px;
  color: #00000099;
}

.lineView {
  width: 1px;
  height: 37px;
  background-color: rgb(235, 235, 235);
}

.navCta {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navCta a:first-child {
  color: #000000bf;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 22px;
  border-radius: 15px;
}

.navCta a:first-child:hover {
  background-color: lightgray;
}

.navCta a:last-child {
  color: #0a66c2;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 22px;
  border: 1px solid #0a66c2;
  border-radius: 15px;
}

.navCta a:last-child:hover {
  background-color: #d8e8f8;
}

/* Main */
main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formSection {
  width: 60%;
}

.headTitle {
  font-size: 50px;
  font-weight: 200;
  width: 60%;
  color: #b24020;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
}

.field label {
  font-size: 14px;
  color: #000000bf;
  font-weight: bold;
}

.field input {
  padding: 14px 16px;
  margin-top: 8px;
}

.passwordField {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.passwordField label {
  font-size: 14px;
  color: #000000bf;
  font-weight: bold;
}

.passwordField input {
  padding: 14px 16px;
  margin-top: 5px;
}

.passwordField button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #0a66c2;
}

.forgot {
  margin-top: 10px;
}

.forgot a {
  color: #0a66c2;
  font-size: 16px;
  font-weight: bold;
}

.signinButton button {
  background-color: #0a66c2;
  color: white;
  width: 50%;
  border-radius: 15px;
  padding: 14px 16px;
  border: none;
  box-shadow: 0 0 5px lightgray;
  font-weight: bold;
  margin-top: 20px;
}

.lineViewOr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.line {
  width: 45%;
  height: 1px;
  background-color: lightgrey;
}

.privacy {
  width: 45%;
  font-size: 12px;
  margin-bottom: 10px;
}

.googleButton {
  width: 50%;
  margin-bottom: 10px;
}

.googleButton button {
  width: 100%;
  padding: 8px 10px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.googleButton button i {
  width: 18px;
  margin-right: 3px;
}

.joinButton {
  width: 50%;
}

.joinButton button {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

.mainImage {
  width: 40%;
  margin-top: 50px;
}

.mainImage img {
  width: 100%;
}

/* Explore Section */
.exploreSection {
  width: 100%;
  background-color: #f3f2f0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 50px 0;
}

.exploreContainer {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleSide {
  width: 50%;
}

.titleSide p:first-child {
  font-size: 48px;
  color: #000000e6;
}

.titleSide p:last-child {
  font-size: 20px;
  color: #000000e6;
  width: 88%;
  margin-top: 12px;
  line-height: -10px;
}

.buttons {
  width: 50%;
}

.buttons ul li:last-child {
  border: 1px solid #0a66c2;
}

.buttons ul li:last-child a {
  color: #0a66c2;
}

.buttons ul li:hover {
  background-color: rgb(233, 231, 231);
}

.buttons ul li {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 5px;
}

.buttons ul li a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
