@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f2ee;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

/* NAVBAR AREA START */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.5rem 0.37rem 0.5rem 0.37rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 2rem;
  margin-right: 0.5rem;
  margin-left: 6rem;
  display: block;
}

.navbarCenter ul li {
  display: inline-block;
  list-style: none;
}

.navbarCenter ul li a {
  display: flex;
  align-items: center;
  font-size: 0.87rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  padding-right: 0.1rem;
  position: relative;
}

.navbarCenter ul li span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 1.56rem;
  color: #777;
  margin-bottom: 1rem;
}

.navbarCenter ul li a i {
  font-size: 1.5rem;
  text-align: center;
  width: 1.87rem;
  margin: 0rem 1.6rem 1rem 1.6rem;
}

.navbarCenter li a:hover {
  color: #000;
}

.navbarCenter .activeLink {
  color: #000;
}

.navbarCenter ul li a::after {
  content: "";
  width: 0;
  height: 0.125rem;
  background: #333;
  position: absolute;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.navbarCenter ul li a:hover::after,
.navbarCenter ul li a.activeLink::after {
  width: 100%;
}

.navbarRight {
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
}

.navbarRight .online {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navProfileImg {
  width: 1.8rem;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
  margin-right: 1.5rem;
}

.online p,
.online p i {
  color: #777;
  font-size: 0.8rem;
  margin-top: 0.1rem;
}

.verticalLine {
  border-left: 1px solid #ccc;
  height: 3rem;
  margin: 0 0.625rem;
}

.navbarRight .forBusinessNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.navbarRight .forBusinessNav i {
  color: #777;
  font-size: 1.5rem;
  margin-bottom: -1.05rem;
}

.navbarRight .forBusinessNav p,
.navbarRight .forBusinessNav p i {
  color: #777;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.navbarRight .tryPremiumLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.navbarRight .tryPremiumLink h6,
.navbarRight .tryPremiumLink p {
  color: #777;
  font-size: 0.8rem;
  line-height: 1rem;
}

.searchBox {
  background: #ecf1fa;
  width: 15.6rem;
  min-height: 2.3em;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.searchBox i {
  width: 0.875rem;
  color: #000;
  font-weight: 600;
}

.jobIconSize {
  font-size: 1.3rem !important;
  text-align: center;
  width: 1.87rem;
  margin: 0rem 1.6rem 1rem 1rem;
}

.searchBox input {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  border: 0;
}

.navbarLeft {
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
}

/* Dropdown Menu Styles */
.dropdownMenu {
  display: none;
  position: absolute;
  right: 26.5rem;
  top: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 15.625rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-0.625rem);
}

.dropdownMenu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdownMenu .profileSection {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  border-bottom: 1px solid #eee;
}

.dropdownMenu .profileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.dropdownMenu .profileInfo h4 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: bold;
}

.dropdownMenu .profileInfo p {
  margin: 0;
  font-size: 0.75rem;
  color: #666;
}

.dropdownMenu .viewProfileBtn {
  width: calc(100% - 1.25rem);
  margin: 0.625rem;
  padding: 0.5rem 0;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  font-weight: 600;
  background: #fff;
  border-radius: 3.5rem;
  text-align: center;
  cursor: pointer;
}

.dropdownMenu .dropdownLinks {
  padding: 0.625rem;
}

.dropdownMenu .dropdownLinks h4 {
  margin: 0;
  margin-bottom: 0.3125rem;
  font-size: 0.75rem;
  color: #666;
}

.dropdownMenu .dropdownLinks a {
  display: block;
  font-size: 0.875rem;
  color: #333;
  text-decoration: none;
  padding: 0.3125rem 0;
}

.dropdownMenu .dropdownLinks a:hover {
  text-decoration: underline;
}

.dropdownMenu .signOutLink {
  display: block;
  padding: 0.625rem;
  font-size: 0.875rem;
  color: #333;
  text-decoration: none;
  border-top: 1px solid #eee;
  text-align: center;
}

.dropdownMenu .signOutLink:hover {
  background: #f5f5f5;
}

/* NAVBAR AREA END */

/* CONTAINER START */
.container {
  padding: 6.25rem 11%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* LEFT SIDEBAR START */
.leftSidebar {
  flex-basis: 20%;
  align-self: flex-start;
  position: sticky;
  top: 4.56rem;
}

.sidebarProfileBox {
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  background: #fff;
}

.sidebarProfileBox img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.sidebarProfileInfo {
  margin: 0.8rem 0;
  padding: 0;
}

.sidebarProfileInfo img {
  width: 4.5rem;
  border-radius: 50%;
  background: #fff;
  padding: 0.1rem;
  margin: -2.8rem 30% 0 30%;
}

.sidebarProfileInfo figcaption {
  display: block;
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
  color: #222;
}

.profileInfoTitle {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.87rem;
  font-weight: 500;
  color: #777;
}

.sidebarProfileInfo ul {
  list-style-type: none;
  padding: 0.5rem;
}

.sidebarProfileInfo ul li {
  width: 100%;
  font-size: 0.8rem;
  color: #777;
}

.sidebarProfileInfo ul li:last-child {
  font-weight: 600;
}

.sidebarProfileInfo ul li span {
  float: right;
  color: #045be6;
}

.sideBarCareer {
  padding: 0.5rem;
  color: #333;
  font-size: 0.8rem;
}

.sidebarProfileSaved {
  padding: 0.6rem 0.5rem;
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
}

.sidebarProfileInfo ul:hover,
.sideBarCareer:hover,
.sidebarProfileSaved:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.sidebarActivity {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  margin: 0.75rem 0;
  font-size: 0.75rem;
}

.sidebarActivity .recent {
  color: #777;
  margin: 1rem 0 1.5rem 0;
}

.sidebarActivity .recent p {
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;
}

.sidebarActivity .recentHash:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.sidebarActivity .linkList {
  padding: 0 0.5rem;
}

.sidebarActivity .linkList p {
  margin: 0.5rem 0;
}

.sidebarActivity .linkList a {
  font-weight: 600;
  color: #045be6;
}

.linkList a span i {
  float: right;
  font-size: 1rem;
}

.sidebarActivity .linkList a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebarActivity .seeAll {
  margin: 1rem 0 1.5rem 0;
}

.sidebarActivity .seeAll p {
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;
}

.discoverMoreLink {
  text-align: center;
  margin-left: -1.56rem;
  margin-right: -1.56rem;
}

.discoverMoreLink a {
  font-size: 0.8rem;
  color: #777;
  display: inline-block;
  margin: 0.625rem 0;
}

.discoverMoreLink:hover {
  cursor: pointer;
  background: #f3f3f3;
}

/* RIGHT SIDEBAR START */
.rightSidebar {
  flex-basis: 20%;
  align-self: flex-start;
  position: sticky;
  top: 4.56rem;
}

.sidebarNews {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  padding: 0.625rem 1.56rem;
}

.infoIcon {
  width: 0.93rem;
  float: right;
  margin-top: 0.93rem;
  cursor: pointer;
}

.sidebarNews h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  margin: 0.625rem 0 0.8rem;
}

.sidebarNews a {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 0.625rem;
  margin-bottom: -5px;
}

.sidebarNews span {
  font-size: 0.75rem;
  color: #333;
}

.sidebarNews .readMoreLink {
  color: #045be6;
  font-weight: 500;
  margin: 1.25rem 0 0.625rem;
}

.sidebarAd {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  padding: 0.93rem 1.56rem;
  text-align: center;
  margin: 0.75rem 0;
  font-size: 0.75rem;
  cursor: pointer;
}

.sidebarAd img {
  width: 3.75rem;
  border-radius: 50%;
  margin: 0.25rem;
}

.sidebarAd small {
  float: left;
  font-weight: 500;
  color: #333;
}

.sidebarAd p {
  margin-top: 1.87rem;
  margin-bottom: 0.625rem;
  color: #333;
}

.sidebarAd b {
  display: block;
  font-weight: 500;
  margin-top: 0.625rem;
  color: #333;
}

.adLink {
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 1.875rem;
  padding: 0.31rem 0.93rem;
  color: #045be6;
  font-weight: 500;
  margin: 1.25rem auto 0.625rem;
}

.sidebarUsefulLinks {
  padding: 0.93rem 1.56rem;
  text-align: center;
}

.sidebarUsefulLinks a {
  display: inline-block;
  font-size: 0.875rem;
  margin: 4px 2px;
  font-size: 0.8rem;
}

.sidebarUsefulLinks a:hover {
  color: #045be6;
  text-decoration: underline;
  cursor: pointer;
}

.copyrightMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  margin-top: 0.625rem;
  font-weight: 500;
}

.copyrightMsg img {
  width: 1.125rem;
  margin-right: 0.25rem;
}

.copyrightMsg p {
  color: #333;
}
/* MAIN CONTENT START */
.mainContent {
  flex-basis: 50%;
}

.createPost {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  padding: 1.25rem 1.56rem 0.625rem;
  margin-bottom: 1rem;
}

.createPostInput {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.createPostInput img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.625rem;
  cursor: pointer;
}

.createPostUser {
  width: 100;
}

.createPostInput input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1.7rem;
  padding: 1rem;
  outline: 0;
  resize: none;
  background: transparent;
}

.createPostInput input::placeholder {
  font-weight: 500;
}

.createPostInput input:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.createPostLinks {
  display: flex;
  justify-content: center;
}

.createPostLinks ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 3rem;
}

.createPostLinks li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  color: #3c3b3bcc;
}

.createPostLinks li:hover {
  background: #f3f3f3;
}

.createPostLinks li img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.sortBy {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sortBy hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.sortBy p {
  font-size: 0.875rem;
  padding-left: 5px;
  color: #333;
}

.sortBy p span {
  font-weight: 600;
  cursor: pointer;
}

.sortBy p span img {
  width: 0.75rem;
  margin-left: 3px;
}

.post {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.6px solid #ccc;
  padding: 1.25rem 1.56rem 0;
  margin: 0.31rem 0 0.93rem;
  color: #333;
}

.postAuthor {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.postAuthor img {
  width: 2.18rem;
  border-radius: 50%;
  margin-right: 0.625rem;
  margin-top: 0.31rem;
  cursor: pointer;
}

.postAuthor h1 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
}

.postAuthor h1:hover {
  cursor: pointer;
  color: #045be6;
  text-decoration: underline;
}

.postAuthor small {
  display: block;
  margin-bottom: -2px;
  cursor: pointer;
}

.post p {
  font-size: 0.875rem;
  margin-bottom: 0.93rem;
}

.postStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.375rem;
}

.postStats article {
  display: flex;
  align-items: center;
}

.postStats img {
  width: 0.93rem;
  margin-right: -5px;
  cursor: pointer;
}

.postStats article span:hover {
  cursor: pointer;
  color: #045be6;
  text-decoration: underline;
}

.likedUser {
  margin-left: 0.625rem;
}

.postActivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  color: #777;
}

.postActivity article {
  display: flex;
  align-items: center;
}

.postActivityLink {
  margin: 5px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.postActivityLink:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.postActivityLink i {
  font-size: 1.5rem;
}

.liked {
  color: #0073b1;
}
