* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  user-select: none;
}

body {
  background-color: #f4f2ee;
}

p {
  color: rgba(0, 0, 0, 0.9);
}

h2 {
  color: rgba(0, 0, 0, 0.9);
}
.sidebar {
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  z-index: 1;
}

.profileJiPic {
  padding: 40px 0 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.128);
}

.profileJiPic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profileJiPic h2 {
  color: rgba(0, 0, 0, 0.9);
}

.profileJiPic p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
}

.viewImpressions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.128);
  padding: 20px 0 20px 20px;
}

.viewers h4,
.impressions h4 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.viewers p,
.impressions p {
  display: inline-block;
  font-size: 14px;
}

.groupEvent {
  margin-top: 20px;
}

.groupEvent h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0 0 1rem;
}

.container {
  .contentContainer {
    margin: 24px auto;
    max-width: 1128px;
    display: flex;
  }

  section {
    position: relative;
    margin-right: 14px;
    margin-bottom: 8px;
    flex: 1;
  }

  .upperSection {
    border-radius: 8px;
    min-width: 100%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.128);
    background-color: #fff;
  }

  .profileBackgroundImage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    background-color: #a2b3b6;
    height: 201px;
  }

  .profileBackgroundImage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
  }

  .editBgCircle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
  }

  .editBgCircle:hover,
  .editBgIcon:hover,
  .editBgCircle2:hover,
  .editBgIcon2:hover {
    cursor: pointer;
  }

  .editBgCircle input[type="file"],
  .editBgCircle2 input[type="file"],
  .editBgCircle3 input[type="file"] {
    display: none;
  }

  .editBgCircle label,
  .editBgCircle2 label,
  .editBgCircle3 label {
    display: inline-block;
    cursor: pointer;
  }

  .editBgCircle:hover label,
  .editBgCircle2:hover label,
  .editBgCircle3:hover label {
    cursor: pointer;
  }

  .profilePic {
    overflow: hidden;
    position: absolute;
    border: 6px solid #fff;
    width: 154px;
    background-color: #a2b3b6;
    border-radius: 50%;
    top: 100px;
    left: 20px;
    height: 154px;
  }

  .profilePic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }

  .editBgCircle2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
  }

  .userGolden {
    font-size: 24px;
    margin: 20px 20px 0;
    text-align: right;
  }

  .userGolden .fa-linkedin {
    margin-right: 24px;
  }

  .userBioDetails {
    padding: 20px 20px;
  }

  .userBioDetails h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
  }

  .userBioDetails p {
    color: #444;
    margin-top: 8px;
  }

  .address p {
    display: inline-block;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
  }

  .address i {
    font-size: 20px;
  }

  .contactInfo a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.5px;
    color: #0a66c6;
  }

  .contactInfo a:hover,
  .connections a:hover {
    text-decoration: underline;
  }

  .connections {
    margin-top: 8px;
  }

  .connections a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.5px;
    color: #0a66c6;
  }

  .buttons {
    margin-top: 8px;
  }

  .buttons button {
    padding: 6px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .buttons button:first-child {
    background-color: #0d6fd0;
    color: #fff;
  }

  .buttons button:first-child:hover {
    background-color: #09325e;
  }

  .buttons button:nth-child(2) {
    color: #0a66c6;
    background-color: #fff;
    border: 1.5px solid #0a66c6;
  }

  .buttons button:nth-child(2):hover {
    border: 2px solid #0a66c6;
    background-color: #dde6ee;
  }

  .buttons button:nth-child(3) {
    color: #0a66c6;
    border: 1.5px solid #0a66c6;
    background-color: #fff;
  }

  .buttons button:nth-child(3):hover {
    background-color: #dde6ee;
    border: 2px solid #0a66c6;
  }

  .buttons button:last-child {
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.75);
  }

  .buttons button:last-child:hover {
    border: 2px solid rgba(0, 0, 0, 0.75);
    background-color: #0000001a;
    color: rgba(0, 0, 0, 0.75);
  }

  .lowerSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.128);
    margin-top: 8px;
    padding-bottom: 10px;
  }

  .suggested {
    padding: 12px 12px 0;
  }

  .suggested h1 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    font-weight: 600;
  }

  .suggested p {
    display: inline-block;
    line-height: 17.5px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .intermediate {
    padding: 16px;
  }

  .intermediate h2 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .intermediate .line {
    height: 8px;
    line-height: 24px;
    display: inline-block;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.326);
    background-color: rgba(0, 0, 0, 0.282);
    width: 723px;
  }

  .intermediate p {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
  }

  .completeStar {
    margin-top: 4px;
  }

  .completeStar p,
  .lowerEnhance p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
  }

  .completeStar a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    line-height: 17.5px;
    color: rgb(10, 102, 194);
  }

  .enhanceProfile {
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-radius: 4px;
    margin: 0 12px 12px 16px;
  }

  .upperEnhance {
    padding: 12px 12px 0 12px;
  }

  .premium {
    display: flex;
    align-items: center;
  }

  .premium i {
    font-size: 12px;
    margin-right: 8px;
  }

  .premium h4 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    line-height: 24px;
  }

  .upperEnhance h3 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .lowerEnhance {
    padding: 12px 12px;
  }

  .lowerEnhance button {
    padding: 6px 16px;
    text-align: center;
    border: none;
    margin-top: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
    margin-right: 4px;
    border: 1px solid #f8c77e;
    background-color: #f8c77e;
    color: rgba(0, 0, 0, 0.75);
  }

  .lowerEnhance button:hover {
    background-color: #e9a53f;
  }

  aside {
    margin-right: 14px;
  }

  .upperAside {
    padding: 16px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.128);
    border-radius: 8px;
  }

  .languageEng {
    display: flex;
    justify-content: space-between;
  }

  .languageEng h2,
  .profileUrl h2 {
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
    line-height: 23.99px;
  }

  .languageEng i,
  .profileUrl i {
    font-size: 22px;
  }

  .eng p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    padding-top: 4px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.128);
    line-height: 20px;
  }

  .profileUrl {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
  }

  .url p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 4px;
    line-height: 20px;
  }

  .lowerAside {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.128);
  }

  .otherLower p {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 12px 0px 12px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 20px;
  }

  .otherSimilarProfiles .contPro {
    display: flex;
    padding: 12px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.128);
  }

  .profileSmall {
    margin-right: 8px;
  }

  .profileSmall img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .profileInfo h3 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
  }

  .profileInfo span {
    font-weight: 300;
    font-size: 16px;
    display: inline;
  }

  .profileInfo p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
  }

  .userConnect {
    padding: 8px 0;
  }

  .userConnect button {
    padding: 6px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.75);
  }

  .userConnect button:hover {
    border: 2px solid rgba(0, 0, 0, 0.75);
    background-color: #0000001a;
    color: rgba(0, 0, 0, 0.75);
  }
}

/* Other existing styles */

#editFullNameInput,
#editBioInput,
#saveProfileBtn,
#cancelEditBtn {
  display: none;
}

.edit-fullname #fullName,
.edit-fullname #editFullNameBtn {
  display: none;
}

.edit-fullname #editFullNameInput {
  display: block;
}

.edit-bio #bio,
.edit-bio #editBioBtn {
  display: none;
}

.edit-bio #editBioInput {
  display: block;
}

.edit-mode #saveProfileBtn,
.edit-mode #cancelEditBtn {
  display: inline-block;
}
